@import "partials/header";
@import "partials/jumbotron";
@import "partials/posts";
@import "partials/footer";
@import "partials/about";
@import "partials/contact";

button{
    padding: 10px;
    text-transform: uppercase;
    color: gray;
    float: right;
}