header{
    .navigation{
        width: 600px;
        margin: 0;
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        overflow: auto;
        float: right;
        li {
            font-size: 12px;
            width: 25%;
            padding: 10px;
            float: left;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}