.jumbotron {
    color: white;
    font-weight: bold;
    text-align: center;
    background-image: url("../images/home-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        margin: 0;
        font-size: 40px;
        padding: 100px 0 10px 0;
    }
    h4 {
        margin: 0;
        padding: 10px 0 100px 0;
    }
}