.jumbotron {
    color: white;
    font-weight: bold;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        margin: 0;
        font-size: 40px;
        padding: 100px 0 10px 0;
    }
    h4 {
        margin: 0;
        padding: 10px 0 100px 0;
    }
    &#index{
        background-image: url("../images/home-bg.jpg");
    }
    &#about {
        background-image: url("../images/about-bg.jpg");  
    }
    &#contact {
        background-image: url("../images/contact-bg.jpg");  
    }
    &#sample {
        background-image: url("../images/post-bg.jpg");  
    }
}