#post {
    margin-top: 50px;
    figure{
        width: 80%;
        margin: 0 auto;
        img{
            width: 100%;
        }
        figcaption{
            color: gray;
            font-size: 14px;
        }
    }
}